/playground
/tslegacy_packaging-*

# Ignore generated packages
# Xorg Protocol Headers
/bigreqsproto
/compositeproto
/damageproto
/dmxproto
/dri2proto
/dri3proto
/fixesproto
/fontsproto
/glproto
/inputproto
/kbproto
/presentproto
/randrproto
/recordproto
/renderproto
/resourceproto
/scrnsaverproto
/videoproto
/x-proto-headers-dev
/xcmiscproto
/xextproto
/xf86bigfontproto
/xf86dgaproto
/xf86driproto
/xf86vidmodeproto
/xineramaproto
/xproto

# Xorg libraries
/xtrans
/libX11
/libXext
/libFS
/libICE
/libSM
/libXScrnSaver
/libXt
/libXmu
/libXpm
/libXaw
/libXfixes
/libXcomposite
/libXrender
/libXcursor
/libXdamage
/libfontenc
/libXfont2
/libXft
/libXi
/libXinerama
/libXrandr
/libXres
/libXtst
/libXv
/libXvMC
/libXxf86dga
/libXxf86vm
/libdmx
/libpciaccess
/libxkbfile
/libxshmfence
/xorg-libraries-dev

# xcb utils
/xcb-util
/xcb-util-image
/xcb-util-keysyms
/xcb-util-renderutil
/xcb-util-wm
/xcb-util-cursor

# Xorg Applications
/iceauth
/luit
/mkfontdir
/mkfontscale
/sessreg
/setxkbmap
/smproxy
/x11perf
/xauth
/xbacklight
/xcmsdb
/xcursorgen
/xdpyinfo
/xdriinfo
/xev
/xgamma
/xhost
/xinput
/xkbcomp
/xkbevd
/xkbutils
/xkill
/xlsatoms
/xlsclients
/xmessage
/xmodmap
/xpr
/xprop
/xrandr
/xrdb
/xrefresh
/xset
/xsetroot
/xvinfo
/xwd
/xwininfo
/xwud
/xorg-applications-all-dev

# Xorg Fonts
/encodings
/font-alias
/font-adobe-utopia-type1
/font-bh-ttf
/font-bh-type1
/font-ibm-type1
/font-misc-ethiopic
/font-xfree86-type1
/xorg-fonts
