/playground
/tslegacy_packaging-*

# Ignore generated packages
# Xorg Protocol Headers
bigreqsproto
compositeproto
damageproto
dmxproto
dri2proto
dri3proto
fixesproto
fontsproto
glproto
inputproto
kbproto
presentproto
randrproto
recordproto
renderproto
resourceproto
scrnsaverproto
videoproto
x-proto-headers-dev
xcmiscproto
xextproto
xf86bigfontproto
xf86dgaproto
xf86driproto
xf86vidmodeproto
xineramaproto
xproto
